*, *:before, *:after {
  box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100vh;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #000;
}
:root{
    --Blue:#2351A6;
    --staticsBlue:#0041E8;
    --staticsOrange:#F39B43;
    --staticsRedish:#CE5958;
    --Greyish:#f5f5f5;
    --linearBg :rgba(31, 44, 115, 0.57);
}
a{
    text-decoration: none;
}

#logo img{
    width: 300px;
}

.login-panel{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}
.login-panel .register{
  margin-left:15px;
  background:#2351A6;
  color: #fff;
  padding: 5px 15px;
  border-radius:5px;
}
.login-panel .login{
  align-self: center;
  border-right: 1px solid #222;
  padding-right: 10px;
  color:#333;
}

.navbar-fixed{
  position: fixed;
  width: 100%;
  left:0;
  z-index:2;
  border:solid 2px red;
}
  
#navigations li{
  margin: 0 12px;
  /* border: solid 3px red; */
}
.login-panel-2{
  display: none;
}
#logo-2 img{
  width: 300px;
  display: none;
}
.dropdown-menu a:not(:last-of-type){
  border-bottom: solid 1px silver;
}

.wiggle-effect{
  animation: wiggle 400ms infinite ease-in-out;
  /* border: solid 2px red; */
}
@keyframes wiggle {
  0% { transform: rotate(0); }
  50% { transform: rotate(-4deg) }
  100% { transform: rotate(4deg); }
}




@media (min-width:991px){
  #logo img{
    width:450px;
    display: none;
  }
  #logo-2 img{
    display: unset;
    width:450px;
  }
  .login-panel-2{
    display: unset;
  }
  #navigations{
    font-size:1.2em;
    /* border: solid 2px red; */
    margin:0 auto;
  }
  .support{
    display: flex;
    justify-content: space-evenly;
    padding:0 50px;
    display: none;
  }
  .help{
    display: unset;
    /* border: solid 2px red; */
    align-self: center;
    flex: 0 1 50%;
    }
  .login-panel{
    display:none;
    border: solid 2px red;
    flex: 0 1 50%;
    align-self: baseline;
  }
  .support .help a{
    margin: 0 5px;
  }
  .support .help i{
    margin: 0 5px;
    color: #2351A6;
    /* border: solid 3px #2351A6; */
    padding: 8px;
    border-radius: 50%;
  }

  .nav-logo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px;
    border-bottom: solid 1px silver;
  }
  
.login-panel-2{
  display: flex;
  align-self: center;
  font-size: 1.1em;
}
.login-panel-2 .register-2{
  margin-left:15px;
  background:#2351A6;
  color: #fff;
  padding: 5px 15px;
  border-radius:5px;
}
.login-panel-2 .login-2{
  color: #333;
  border-right: 1px solid #222;
  padding-right: 10px;
}
.login-panel-2 .login-2{
  text-decoration: none;
}

.login-panel-2 .register-2:hover{
  background:rgb(24, 71, 160);
  text-decoration: none;
  animation: wiggle 75ms infinite ease-in-out;
}
}


@media (max-width:398px){
  #logo img{
    width:250px;
  }
}


/* slider */
@font-face {
    src: url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300");
    font-family: 'Open Sans Condensed', sans-serif;
  }
  .slide__text-desc {
    font-family: 'Open Sans Condensed', sans-serif;
  }
  

  
  svg {
    display: block;
    overflow: visible;
  }
  
  .slider-container {
    position: relative;
    height:80%;
    margin:auto;
  }
  
  .slider-control {
    z-index: 2;
    position: absolute;
    top: 0;
    width: 12%;
    height: 100%;
    transition: opacity 0.3s;
    opacity: 0;
  }
  .slider-control.inactive:hover {
    cursor: auto;
  }
  .slider-control:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
  }
  .slider-control.left {
    left: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
  }
  .slider-control.right {
    right: 0;
    background: linear-gradient(to right, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  
  .slider-pagi {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom:0;
    transform: translateX(-50%);
    font-size: 0;
    list-style-type: none;
  }
  .slider-pagi__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 1rem;
    height: 1rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
  }
  .slider-pagi__elem:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 1.2rem;
    height: 1.2rem;
    background: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
    transform: translate(-50%, -50%) scale(0);
  }
  .slider-pagi__elem.active:before, .slider-pagi__elem:hover:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .slider {
    z-index: 1;
    position: relative;
    height: 100%;
  }
  .slider.animating {
    transition: transform 0.5s;
  }
  .slider.animating .slide__bg {
    transition: transform 0.5s;
  }
  
  .slide {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .slide.active .slide__overlay,
  .slide.active .slide__text {
    opacity: 1;
    transform: translateX(0px);
  }
  .slide__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    object-fit: cover;
  }
  .slide:nth-child(1) {
    left: 0;
  }
  .slide:nth-child(1) .slide__bg {
    left: 0;
    background-image: url(/Asset/Homepage/main\ school\ bg\ croped.jpg);
    background-position: center;
  }
  .slide:nth-child(1) .slide__overlay-path {
    fill: #413e3e;
  }
  @media (max-width: 991px) {
    .slide:nth-child(1) .slide__text {
      background-color: rgba(233, 156, 126, 0.8);
    }
  }
  .slide:nth-child(2) {
    left: 100%;
  }
  .slide:nth-child(2) .slide__bg {
    left: -50%;
    background-image: url("/Asset/Homepage/Background\ img1.jpg");
  }
  .slide:nth-child(2) .slide__overlay-path {
    fill: #303030;
  }
  @media (max-width: 991px) {
    .slide:nth-child(2) .slide__text {
      background-color: rgba(132, 202, 130, 0.8);
    }
  }
  .slide:nth-child(3) {
    left: 200%;
  }
  .slide:nth-child(3) .slide__bg {
    left: -100%;
    background-image: url("/Asset/Homepage/Background\ img3.jpg");
  }
  .slide:nth-child(3) .slide__overlay-path {
    fill: #29424a;
  }
  @media (max-width: 991px) {
    .slide:nth-child(3) .slide__text {
      background-color: rgba(41, 66, 74, 0.8);
    }
  }
  .slide:nth-child(4) {
    left: 300%;
  }
  .slide:nth-child(4) .slide__bg {
    left: -150%;
    background-image: url("/Asset/Homepage/backround\ img2.jpg");
  }
  .slide:nth-child(4) .slide__overlay-path {
    fill: #cbc6c3;
  }
  @media (max-width: 991px) {
    .slide:nth-child(4) .slide__text {
      background-color: rgba(203, 198, 195, 0.8);
    }
  }
  .slide__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .slide__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    min-height: 810px;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  @media (max-width: 991px) {
    .slide__overlay {
      display: none;
    }
  }
  .slide__overlay path {
    opacity: 0.8;
  }
  .slide__text {
    position: absolute;
    width: 25%;
    bottom: 25%;
    left: 12%;
    color: #fff;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    transform: translateY(-50%);
    opacity: 0;
  }
  @media (max-width: 991px) {
    .slide__text {
      left: 0;
      bottom: 0;
      width: 100%;
      height: 20rem;
      text-align: center;
      transform: translateY(50%);
      transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
      padding: 0 1rem;
    }
  }
  .slide__text-heading {
    font-family: "Polar", Helvetica, Arial, sans-serif;
    font-size:2rem;
    margin-bottom: 2rem;
  }
  .slide__text-desc {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
    margin-bottom:  1.5rem;
  }
  @media (max-width: 991px) {
    .slide__text-desc {
      display: none;
    }
  }
  .slide__text-link {
    z-index: 5;
    display: inline-block;
    position: relative;
    padding: 0.5rem;
    cursor: pointer;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size:1.2rem;
    perspective: 1000px;
  }
  @media (max-width: 991px) {
    .slide__text-link {
      margin: -2rem 0 8rem;
    }
  }
  .slide__text-link:before {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    transform-origin: 50% 100%;
    transform: rotateX(-85deg);
    transition: transform 0.3s;
  }
  .slide__text-link:hover:before {
    transform: rotateX(0);
  }

@media (max-width:398px){
  .slider-container{
    height: 40%;
  }
  .slide.active .slide__overlay,
  .slide.active .slide__text {
    opacity: 1;
    transform: translateX(0px);
    transform:translateY(120px);
    padding:12px 0;
  }
}



  /* STATICS */

  .statics{
    padding: 50px 0;
  }

  .stat{
    padding:20px 0 12px 0;
    color: #fff;
    border-radius: 5px;
    margin: 10px 0;
    cursor: pointer;
  }
  
  .stat i{
    background: #fff;
    padding: 10px;
    border-radius:50%;
    margin-right:10px;
  }


  .statics-1{
    background: var(--staticsBlue);
  }
  .statics-1 i{
    color: var(--staticsBlue);
  }

  .statics-2{
    background: var(--staticsOrange);
  }
  .statics-2 i{
    color: var(--staticsOrange);
  }

  .statics-3{
    background: var(--staticsRedish);
  }
  .statics-3 i{
    color: var(--staticsRedish);
  }

  @media (min-width:991px){
      .stat{
        font-size:1.2em;
        padding: 20px 0;
      }
    }



/* GALLERY 2.0 */
.gallery{
  padding: 50px 0;
  /* min-height: 100%; */
  background: var(--Greyish);
}
#gallery-center{
  width: 90%;
  margin:0 auto;
}
#gallery-center img{
  width:100%;
  height: 100px;
  object-fit: cover;
}
.prize-container{
  padding: 5px;
  border: solid 6px white;
  margin: 8px 0;
}
.video-container{
  margin: 10px auto;
  width: 80%;
}
.photo-container{
  padding: 5px;
  border: solid 6px white;
  margin: 8px 0;
}
.photo-container{
  margin: 8px 0;
}

.prize-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap:1em;
}
.photo-section{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 1em;
}

.prize-title, .video-title, .photo-title{
  border-bottom: solid 2px silver;
  padding-bottom:0.5em;
  font-weight:500;
  letter-spacing:2px;
  color: #333;
  margin-bottom:2em;
}
.prize-section, .video-section, .photo-section{
  overflow: auto;
  height:50vh;
  scrollbar-width: thin;
  margin-bottom: 2em;
}
.view-more-items{
  text-align: center;
}
.view-more-items a{
  background: var(--staticsBlue);
  background: slateblue;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}
.view-more-items a:hover{
  text-decoration: none;
  color: white;
  background: rgb(75, 59, 173);
}































/* ############ gallery ############  */


/* .gallery{
  position: relative;
  padding: 50px 0;
  background:var(--Greyish);

}
.gallery::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.gallery-center{
    width: 90%;
    margin: 0 auto;
}
.gallery-title i{
  color:var(--Blue);
  padding-right:5px;
  margin-right: 10px;
  margin-left: 10px;
}
.gallery-title{
  font-weight: 600;
  color: #333;
  text-align: center;
  position: relative;
}

.gallery-title::before{
    content: "";
    position: absolute;
    top:50%;
    left:0;
    height: 5px;
    width:120px ;
    border-bottom: 2px solid silver; 
}
.gallery-title::after{
  content: "";
  position: absolute;
  top:50%;
  right:-1%;
  height: 5px;
  width:120px ;
  border-bottom: 2px solid silver; 
}
.gallery-img-container img{
  height:100px;
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease-in-out;
}
.gallery-img-container:hover img{
    transform: scale(1.2);
}



.gallery-img-container{
  position: relative;
  width: 90%;
  height:auto;
  margin: 10px auto;
  padding:0.4em;
  border: solid 5px #fff;
  overflow: hidden;
  box-shadow: 10px 20px 40px #ddd;
}
.gallery-center{
  display: grid;
  grid-template-columns:repeat(3,1fr) ;
}
.scroll{
  overflow: auto;
  height:60vh;
  scrollbar-width: thin;
}

@media (min-width:576px){
  .gallery-title::before{
    content: "";
    position: absolute;
    top:50%;
    left:-10%;
    height: 5px;
    width:45% ;
    border-bottom: 2px solid silver; 
}
.gallery-title::after{
  content: "";
  position: absolute;
  top:50%;
  right:-1%;
  height: 5px;
  width:35%;
  border-bottom: 2px solid silver; 
}
}


@media (min-width:991px){
    .gallery-img-container img{
      height:200px;
    }
    .gallery-img-container{
      width: 90%;
      margin: 15px 0;
    }
    .gallery-center{
      width: 90%;
      margin: 0px auto;
      grid-template-columns: repeat(4,1fr);
    }
    .gallery-title{
      font-size:2.5em;
      text-align: center;
    }
    .gallery-title::before{
      content: "";
      position: absolute;
      top:50%;
      left:0;
      height: 5px;
      width:39%;
      border-bottom: 2px solid silver; 
  }
  .gallery-title::after{
    content: "";
    position: absolute;
    top:50%;
    right:-1%;
    height: 5px;
    width:40%;
    border-bottom: 2px solid silver; 
  }
    }

    @media (max-width:398px){
      .gallery-title::before{
        content: "";
        position: absolute;
        top:50%;
        left:0;
        height: 5px;
        width:20%;
        border-bottom: 2px solid silver; 
    }
    .gallery-title::after{
      content: "";
      position: absolute;
      top:50%;
      right:-1%;
      height: 5px;
      width:20%;
      border-bottom: 2px solid silver; 
    }
    }  */



    /* ABout */

  .about{
    padding:70px 0;
    /* height: 100%; */
    background: var(--Greyish);
  }
  #about-center{
    width: 90%;
    margin: 0 auto;
  }
  .about-content h1{
    color: slateblue;
    font-weight: 600;
    margin-bottom: 1em;
    position: relative;
  }
  .about-content h1::after{
    content:"";
    position: absolute;
    width: 100px;
    height: 2px;
    background: silver;
    top: 50%;
    right: 0;
  }

  .about-content{
    margin-bottom:2em;
  }
  .about-content p:nth-of-type(2) {
    margin-bottom:1.5em;
  }
.about-btn{
  background: slateblue;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
}
  @media (min-width:991px){
    .about-content h1::after{
      content:"";
      position: absolute;
      width: 140px;
      height: 2px;
      background: silver;
      top: 50%;
      right: 0;
    }
    .about-content h1{
      font-size:3em;
    }
    .iframe-container iframe{
      height:60%;
    }
  }
  @media(max-width:398px){
    .about-content h1::after{
      content:"";
      position: absolute;
      width:60px;
      height: 2px;
      background: silver;
      top: 50%;
      right: 0;
      /* z-index: -1; */
    }
  }



  /* ############# awards##########  */
  .award{
    padding:50px 0;
    /* height:30vh; */
  }
  .award-container img{
    width:100px;
  }
  .award-center{
    width:90%;
    margin: 0 auto;
    display: flex;
    /* flex-wrap:wrap; */
    justify-content: space-between;
  }
  .award-center .award-text{
    align-self: center;
  }

  @media (min-width:991px){
    .award-center{
      /* border: solid 1px red; */
      flex-wrap: wrap;
    }
    .award-container{
      /* flex: 0 1 50%; */
        margin-left:25em;
    }
    .award-text{
      margin-right: 15em;
    
    }
    .award-text{
      font-size:1.5em;
    }
  }

  @media (max-width:398px){
    .award-container img{
      width:70px;
    }
  }



  .about-2{
    /* height: 100%; */
    padding: 50px 0;
  }
  .about-2-center{
      width: 80%;
      margin: 0 auto;
  }
  .about-2-img-container img{
    width:100%;
    height:180px;
    object-fit: cover;
  }
  .about-2-img-container{
    position: relative;
    border-radius:5px;
    overflow: hidden;
    margin:20px 0;
    /* border:solid 1px red; */
  }
  .about-2-text{
    position:absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size:1.5em;
  }
  .about-2-img-container::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:var(--linearBg);
  }

  .about-2-title{
    text-align: center;
    position: relative;
    color: #333;
    color: slateblue;
    font-weight: 600;
    margin-bottom:1.5em;
  }
  .about-2-title::before{
    content: "";
    position: absolute;
    width:110px;
    height: 2px;
    background: silver;
    top: 50%;
    left: 0;
  }
.about-2-title::after{
  content: "";
  position: absolute;
  width:110px;
  height: 2px;
  background: silver;
  top: 50%;
  right: 0;
}
.about-2 p{
  width: 80%;
  margin: 0px auto;
  /* border: solid 3px red; */
  margin-bottom:3em;
}

@media (min-width:576px){
  .about-2-center{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-column-gap:2em;
  }
}


@media (min-width:991px){
  .about-2-center{
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
  }
  .about-2-img-container{
    margin: 15px 0;
  }
  .about-2-title{
    font-size: 3em;
  }
 

  .about-2-title::before{
    content: "";
    position: absolute;
    width:620px;
    height: 2px;
    background: silver;
    top: 50%;
    left: 0;
  }
.about-2-title::after{
  content: "";
  position: absolute;
  width:620px;
  height: 2px;
  background: silver;
  top: 50%;
  right: 0;
}
}

@media (max-width:398px){
  .about-2-title::before{
    content: "";
    position: absolute;
    width:70px;
    height: 2px;
    background: silver;
    top: 50%;
    left: 0;
  }
.about-2-title::after{
  content: "";
  position: absolute;
  width:70px;
  height: 2px;
  background: silver;
  top: 50%;
  right: 0;
}
}

  /* ########### SOCIAL PLATFORM  ############### */
.social{
  padding: 60px 0;
}

.social-title{
  color: slateblue;
  text-align: center;
  font-size: 3em;
  position: relative;
  margin-bottom:1em;
  font-weight: 600;
}
.social-title::before{
  content: "";
  position: absolute;
  width:110px;
  height: 2px;
  background: silver;
  top: 50%;
  left: 0;
}
.social-title::after{
  content: "";
  position: absolute;
  width:110px;
  height: 2px;
  background: silver;
  top: 50%;
  right: 0;
}

#fb-feed, #instagram-feed{
  margin: 30px auto;
}


@media (min-width:991px){
  .social-title::before{
    content: "";
    position: absolute;
    width:450px;
    height: 2px;
    background: silver;
    top: 50%;
    left: 0;
  }
.social-title::after{
  content: "";
  position: absolute;
  width:450px;
  height: 2px;
  background: silver;
  top: 50%;
  right: 0;
}
}

@media (max-width:398px){
  .social-title::before{
    content: "";
    position: absolute;
    width:80px;
    height: 2px;
    background: silver;
    top: 50%;
    left: 0;
  }
.social-title::after{
  content: "";
  position: absolute;
  width:80px;
  height: 2px;
  background: silver;
  top: 50%;
  right: 0;
}
}


/* NAVBAR */

.navigations{
  list-style-type: none;
}
.navigations li{
  /* margin: 10px 0px; */
  padding: 10px 20px;
  cursor: pointer;
}
.navigations a{
  color: #333;
  font-size: 1.1em;
}
.navigations i{
  margin-left: 5px;
}
.navigations a:hover{
  text-decoration: none;
  color: #333;
}

.active, .navigations li:hover{
  background:#ddd;
  /* border-radius: 5px; */
}

.sub-menu-1{
  display: none
}
.sub-menu-1 ul{
  list-style-type: none;
}
.navigations li:hover .sub-menu-1{
  display: block;
  position: absolute;
  background: var(--Greyish);
  margin-top: 11px;
  margin-left: -15px;
  z-index: 2;
}
.navigations li:hover .sub-menu-1 ul li{
  border-bottom: solid 1px silver;
  padding: 10px;
}

.fixed{
  position: fixed!important;
  width: 98.9%;
  z-index:2;


}

@media (min-width:991px){
  .navigations{
    display: flex;
  }
  .navigations li{
    margin: 0 10px;
  }
  #navbarNavDropdown{
    display: flex;
    justify-content: space-around;
  }
}